body {
  background-image: linear-gradient(0deg, #136d83, #06acd1, #06acd1);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgb(255, 255, 255);
  width: 270px;
  padding: 10px;
  border-radius: 5px;
}

.new-item {
  display: flex;
  margin: 0;
  justify-content: space-between;
}

.todo-list {
  list-style: none;
  margin: 10px 0 0;
  padding: 5px;
  height: 200px;
  overflow: auto;
}

.todo-list::-webkit-scrollbar {
  display: none;
}

.todo-item {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.todo-item button {
  scale: 0.9;
  border-radius: 5px;
}
